
demo/public/hello/hello/x64/Debug/hello.ilk
demo/public/hello/hello/x64/Debug/main.obj
demo/public/hello/hello/x64/Debug/vc143.idb
demo/public/hello/hello/x64/Debug/vc143.pdb
demo/public/hello/x64/Debug/hello.exe
demo/public/hello/x64/Debug/hello.pdb
demo/demo_v0.rar
